.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #eef2f7, #f8fbff);
}

.auth-wrapper {
  display: flex;
  width: 900px;
  height: 520px;
  gap: 40px;
}

/* LEFT IMAGE */
.auth-image-card {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.auth-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-quote {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  font-size: 16px;
}

/* RIGHT FORM */
.auth-form-card {
  flex: 1;
  background: white;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
